@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}
p  {
  font-family: "Bree Serif", serif;
}

.active{
    @apply font-bold tracking-wide text-[#FF1949] transition-colors duration-200
  }
  
  .default{
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400
  }
  .my-container{
    @apply px-4 py-20 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24  lg:py-20
  }
  .button{
  @apply  inline-flex items-center h-12 px-6 my-3 font-medium text-white transition duration-200 rounded shadow-md bg-[#FF1949] hover:bg-[#263B5E]
}